@use '@/variables' as variables;

.wrapper{
    background-color: variables.$background-color;
    position: fixed;
    user-select: none;
    border-radius: variables.$border-radius-em;    
    border: solid variables.$border-color;
    overflow: auto;
    color: white;
    max-height: 1000px;
    z-index: 99999999;
    width: 400px;
    font-size: small;

    @media (max-width: 768px) {
        height: 100vh;
        width: 100%;
        left: 0 !important;
        top: 0 !important;
    }



    .top{
        width: 100%;
        background-color: variables.$background-color-special-ui;
        padding: 0.5em;
        display: flex;
        font-size: 1.25em;
        justify-content: space-between;
        position: sticky;
        top: 0;

        .cancel{
            cursor: pointer;
        }
    }
    .body{
        width: 100%;
        padding: 0.25em;
    }
}