@use '@/variables' as variables;

.wrapper{
    background-color: variables.$background-color;
    position: absolute;
    user-select: none;
    border-radius: variables.$border-radius-em;    
    border: solid variables.$border-color;
    overflow: auto;
    color: white;
    max-height: 1000px;
    z-index: 99999999;

    .top{
        width: 100%;
        background-color: variables.$background-color-special-ui;
        padding: 0.5em;
        display: flex;
        font-size: 1.25em;
        justify-content: space-between;


        .cancel{
            cursor: pointer;
        }
    }
    .body{
        width: 100%;
        padding: 0.25em;
    }
}