@use '@/variables' as *;

.wrapper{
    background-color: $background-color;
    position: absolute;
    user-select: none;
    border-radius: $border-radius-em;    
    border: solid $border-color;
    overflow: auto;
    color: white;
    max-height: 1000px;
    z-index: 99999999;

    .top{
        width: 100%;
        background-color: $background-color-special-ui;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;

        .cancel{
            cursor: pointer;
        }
    }
    .body{
        width: 100%;
        padding: 0.25em;
    }
}