@use '@/variables' as variables;

.wrapper{
    display: flex;
    flex-direction: column;

    input, button{
        margin: 0.25em;
        padding: 0.5em;
        border-radius: 0.25em;
    }

    button{
        background-color: variables.$background-color-special-ui;

    }

    button:disabled {
        background-color: darkgray;
        color: white; /* Цвет текста */
        cursor: not-allowed; /* Курсор "запрещено" */
        opacity: 0.6; /* Прозрачность */
    }
}