@use '@/variables' as variables;


.tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button{
        background-color: variables.$background-color-special-ui;
        padding: 0.5em;
        border-radius: 0.5em;
        margin: 0.25em;
    }

    .sorts{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-wrap: wrap;

        div{
            cursor: pointer;
            user-select: none;
            background-color: variables.$background-color-window;
            border-radius: variables.$border-radius-em;
            color: variables.$text-color-window;
            margin: 0.25em;
            padding: 0.5em;

            label{
                margin: 0.5em;
            }
        }
    }
}

.wrapper{
    position: relative;

    .headerTerminal{
        position: sticky;
        max-width: 100%;
        top: -5px;
        background-color: variables.$background-color-special-ui !important;

        label{
            color: variables.$text-color;
        }

    }
    .terminal, .headerTerminal{
        background-color: variables.$background-color-window;
        color: variables.$text-color-window;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 0.25em;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        cursor: pointer;


        
        .info, label{
            padding: 0.5em;
        }

        @media (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    .attention, .warning, .done, .broken{
        color: variables.$text-color !important;
    }

    .attention{
        background: variables.$background-color-info !important;
    }
    
    .warning{
        background: variables.$background-color-warning !important;
    }

    .done{
        background: variables.$background-color-done !important;
    }

    .broken {
        background: variables.$background-color-out !important;
    }



    @media (max-width: 768px) {
        .headerTerminal {
            display: none;
        }
    }
}


