@use '@/variables' as *;


.tools{
    display: flex;
    justify-content: space-between;

    button{
        background-color: $background-color-special-ui;
        padding: 0.5em;
        border-radius: 0.5em;
        margin: 0.25em;
    }
}

.wrapper{
    position: relative;

    .headerTerminal{
        position: sticky;
        max-width: 100%;
        top: -5px;
        background-color: $background-color-special-ui !important;

        label{
            color: $text-color;
        }

    }
    .terminal, .headerTerminal{
        background-color: $background-color-window;
        color: $text-color-window;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 0.25em;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        cursor: pointer;
        
        .info, label{
            padding: 0.5em;
        }
    }
}
