@use '@/variables' as variables;

.wrapper{
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    label{
        margin-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    input{
        width: 100%;
    }

    input, button{
        color: variables.$text-color-window;
        margin: 0.25em;
        padding: 0.5em;
        border-radius: variables.$border-radius-em;
    }

    button{
        background-color: variables.$background-color-special-ui !important;
        color: variables.$text-color !important;
    }
}