//default vars

$border-color: rgb(180, 180, 180);
$border-radius-em: 0.5em;

$text-color: white;
$background-color: black;

$background-color-window: white;
$text-color-window: black;

$background-color-special-ui: rgb(221, 100, 30);
$background-color-warning: #b33737;
$background-color-info: #406fb7;
$background-color-out: rgb(100, 100, 100);
$background-color-done: rgb(80, 100, 80);  