//default vars

$border-color: rgb(180, 180, 180);
$border-radius-em: 0.5em;

$text-color: white;
$background-color: black;

$background-color-window: white;
$text-color-window: black;

$background-color-special-ui: rgb(221, 100, 30);
$background-color-warning: rgb(150, 0, 0);
$background-color-info: rgb(55, 55, 150);
$background-color-out: rgb(100, 100, 100);
$background-color-done: rgb(55, 110, 55);  